@import '../../index.scss';

.messageInputContainer {
    height: 45px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    @include mobileScreen {
        height: 20px;
    }


    input {
        width: 100%;
        outline: none;
        border: none;
        background-color: transparent;
        font-size: 16px;

        @include mobileScreen {
            font-size: 0.5rem;
        }

        &::placeholder {
            color: #ccc;
        }
    }

    .sendOptions {
        display: flex;
        align-items: center;
        gap: 8px;

        .sendIcon {
            font-size: 20px;
            color: $primary;
            cursor: pointer;

            @include mobileScreen {
                font-size: 14px;
            }
        }

        button {
            border: none;
            padding: 10px 15px;
            color: $mainLight;
            background-color: $primary;
            cursor: pointer;

            @include mobileScreen {
                padding: 5px;
            }
        }
        button:disabled{
            opacity: 0.8;
        }
    }

}