@import '../../index.scss';

.loginContainer {
    background-color: $primary;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;

    .loginWrap {
        @include inputBox;

        .title {
            display: block;
            padding-bottom: 30px;
            font-size: 26px;
        }

        .loginForm {
            display: flex;
            flex-direction: column;
            gap: 12px;

            .loginInput {
                @include initial-inputs;

                &::placeholder {
                    color: #fff;
                }
            }

            #loginSubmit {
                background-color: $mainDark;
                color: #fff;
                padding: 10px;
                font-size: 16px;
                letter-spacing: 3px;
                font-weight: bold;
                border: none;
                cursor: pointer;
                opacity: 1;
                transition: 0.5s;

                &:hover {
                    opacity: 0.8;
                    transition: 0.5s;
                }
            }
        }
    }
}