@import '../../index.scss';

.logBarMainContainer {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 400px;
  
  input {
    position: absolute;
    cursor: pointer;
    
    &:checked + .logCheckmark {
      background-color: $mainDark;
      color: #fff;
    }
    &:not(:checked) + .logCheckmark {
      color: #000;
    }

  }

  .logCheckmark {
    background: #fff;
    cursor: pointer;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    padding: 40px 10px;
    position: relative;
    border: none;
    

    .logIcons {
      @include logIcons;
    }
  }
}