@import '../../index.scss';

.registerContainer {
    background-color: $primary;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .registerWrap {
        background-color: $mainLight;
        padding: 1.8% 5.4%;

        .registerForm {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .registerInput {
                height: 18px;
                padding: 15px;
                border: none;
                width: 86%;
                border-bottom: 1px solid $primary;
            }

            #registerSubmit {
                background-color: $primary;
                color: $mainLight;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }

            #avatarInput {
                display: flex;
                align-items: center;
                gap: 5%;
                font-size: 1.2em;
                color: $primary;
            }

            #avatarImage{
                width: 15%;
            }
        }
    }
}