@import '../../index.scss';

.registerContainer {
    background-color: $primary;
    height: 100vh;
    @include flex-centered;

    .registerWrap {
        background-color: $mainLight;
        padding: 1.8% 5.4%;

        .registerForm {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .registerInput {
                @include initial-inputs;
            }

            #registerSubmit {
                background-color: $primary;
                color: $mainLight;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }

            #avatarInput {
                display: flex;
                align-items: center;
                gap: 5%;
                font-size: 1.2em;
                color: $primary;
            }

            #avatarImage{
                width: 15%;
            }

            .formError {
                padding: 0 15px;
                max-width: 170px;
                font-size: 0.85em;
                color: rgb(187, 1, 1);
            }
        }
    }
}