$primary-light: #189ab4;
$mainDark-light: #05445e;
$secondary-light: #75e6da;
$mainLight-light: #d4f1f4;


$primary-dark: #063944;
$mainDark-dark: #001017;
$secondary-dark: #1ec2b1;
$mainLight-dark: #ffffff;