@import "../../index.scss";

.navbarContainer {
  @include flex-centered;
  justify-content: space-evenly;
  background-color: darken($color: $mainDark, $amount: 5);
  height: 5vh;
  padding: 10px;

  @include mobileScreen {
    font-size: 0.8rem;
    padding: 0;
  }

  .logo {
    font-weight: bold;
    color: $mainLight;
    margin-right: 3%;
    max-width: 60px;
    text-align: center;

    @include tableScreen {
      display: none;
    }
  }

  .userContainer {
    display: flex;

    @include tableScreen {
      gap: 10px;
    }

    span {
      color: $mainLight;
    }

    img {
      background-color: $primary;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      object-fit: cover;
      margin-right: 1%;

      @include mobileScreen {
        display: none;
      }
    }

    button {
      background-color: darken($color: $mainDark, $amount: 5);
      border: 1px solid white;
      border-radius: 5px;
      margin-left: 5%;
      color: $mainLight;
      font-size: 0.8rem;
      cursor: pointer;

      &:hover {
        background-color: $primary;
      }

      @include mobileScreen {
        font-size: 0.5rem;
      }
    }
  }
}