@import "../../index.scss";

.navbarContainer {
  @include flex-centered;
  justify-content: space-between;
  background-color: darken($color: $mainDark, $amount: 5);
  height: 5vh;
  padding: 10px;
  padding-right: 5%;

  @include mobileScreen {
    font-size: 0.8rem;
    padding: 0;
  }

  .logo {
    font-weight: bold;
    font-size: calc(8px + (13 - 8) * ((100vw - 320px) / (1024 - 320)));
    color: $mainLight;
    max-width: 60px;
    text-align: center;

    @include tableScreen {
      display: none;
    }
  }

  .userContainer {
    display: flex;
    align-items: center;

    @include tableScreen {
      gap: 10px;
    }

    span {
      color: $mainLight;
      font-weight: 600;
      font-size: calc(12px + (17 - 12) * ((100vw - 320px) / (1024 - 320)));
    }

    img {
      background-color: $primary;
      height: calc(15px + (30 - 15) * ((100vw - 320px) / (1024 - 320)));
      width: calc(15px + (30 - 15) * ((100vw - 320px) / (1024 - 320)));
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      object-fit: cover;
      margin-right: 2%;

      @include mobileScreen {
        display: none;
      }
    }

    button {
      background-color: darken($color: $mainDark, $amount: 5);
      border: 1px solid white;
      border-radius: 5px;
      margin-left: 3%;
      margin-right:2%;
      padding: calc(5px + (10 - 5) * ((100vw - 320px) / (1024 - 320)));;
      color: $mainLight;
      font-size: calc(8px + (12 - 8) * ((100vw - 320px) / (1024 - 320)));
      font-weight: 600;
      cursor: pointer;

      &:hover {
        background-color: $primary;
      }

      @include mobileScreen {
        font-size: 0.5rem;
      }
    }
  }
}