@import '../../index.scss';

.resetContainer {
  @include mainScreenContainer;

  @include tableScreen {
    @include tableScreenMainContainer;
  }

  .resetWrap {
    @include inputBox;
    min-height: 260px;

    @include tableScreen {
      @include tableScreenWrap;
    }

    .title {
      @include mainScreenTitles;

      @include tableScreen {
        @include tableScreenTitle;
      }
    }

    .resetForm {
      margin-top: 20%;
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 5px;

      @include tableScreen {
        margin-top: -30px;
        width: 90%;
      }

      .resetInput {
        @include initial-inputs;
      }

      #resetSubmit {
        @include mainButtonForSubmission;
      }

      .formError {
        @include errorsForm;
      }
    }
  }



}