@import '../../index.scss';

.promptingCloud {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    ;

    h2 {
        margin-top: 0;
    }

    .imageInput {
        font-size: 30px;
        margin-bottom: 10px;
        background-color: #fff;
    }

    .btnContainer {
        align-self: flex-end;
        padding: 10px 10px;
        margin-top: 10px 0;
    }

    button {
        margin-right: 10px;
    }
}