body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


//main app colors
$primary: #189ab4;
$mainDark: #05445E;
$secondary: #75E6DA;
$mainLight: #D4F1F4;

// consider adding mixins for flex display and common form styling
@mixin flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin mainScreenContainer {
  @include flex-centered;
  background-color: $primary;
  height: calc(100vh - 75px);
  width: 100%;
  gap: 2%;
}

@mixin inputBox {
  background-color: #fff;
  padding: 70px 30px;
  min-height: fit-content;
  width: 400px;
  position: relative;
}

@mixin initial-inputs {
  color: #fff;
  height: 18px;
  padding: 15px;
  border: none;
  outline: none;
  background-color: $primary;

  &::placeholder {
    color: #fff;
  }
}

@mixin mainScreenTitles {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  font-weight: 500;
}

@mixin logIcons {
  display: block;
  font-size: 28px;
  margin: 0 auto;
}

@mixin mainButtonForSubmission {
  background-color: $mainDark;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: 0.5s;
  margin-top: 5%;

  &:hover {
    background-color: darken($color: $mainDark, $amount: 5);
  }
}

@mixin errorsForm {
  margin: 0 auto;
  padding: 0 15px;
  font-size: 0.85em;
  color: rgb(255, 0, 0);
}

//Media queries mixins

@mixin tableScreen {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

//mixins to include for media
@mixin tableScreenMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  // width: 100%;
  min-width: 380px;
  min-height: 680px;
  
  
}

@mixin tableScreenWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  // height: 230px;
  margin-top: -140px;
  margin-bottom: 50px;
}

@mixin tableScreenTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}



footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 2px solid black;
  height: 70px;
  // min-height: 70px;
  min-width: 375px;

  h3,
  p {
    margin: 0 auto;
  }

  @include tableScreen {
    display: none;
  }

}