//main app colors
$primary: #189ab4;
$mainDark: #05445E;
$secondary: #75E6DA;
$mainLight: #D4F1F4;

// consider adding mixins for flex display and common form styling
@mixin flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin initial-inputs {
  height: 18px;
  padding: 15px;
  border: none;
  // width: 86%;
  border-bottom: 1px solid $primary;
  outline: none;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  h3,
  p {
    margin: 0.5%;
  }
}

@mixin logIcons {
  display: block;
  font-size: 28px;
  margin: 0 auto;
}