@import "../../../index.scss";
@import '../Profile.scss';

.profileAvatar {
    .shading {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    #avatarContainer {
        display: flex;

        .iconBtn {
            align-self: flex-end;
        }

        #avatarImage {
            @include tableScreen {
                width: 90px;
                height: 90px;
                margin: 6px;
                box-shadow: 0 0 9px $mainDark;
            }

            image-rendering: optimizeQuality;
            vertical-align: middle;
            object-fit: cover;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 1px solid $mainDark;
            margin: 10px;
            box-shadow: 0 0 15px $mainDark;
        }

        #avatarInputContainer {
            @include tableScreenTitle;
            flex-direction: column;
            margin-left: auto;

            .profileTitle {
                font-weight: 600;
                font-size: 1.2em;
                margin: 10px 0;
            }

            #avatarInput {
                padding: 10px;
                border: none;
                outline: none;
                background-color: $primary;
                min-height: 50px;
            }
        }
    }
}

.profileName {
    .profileTitle {
        font-weight: 600;
        font-size: 1.2em;
        margin: 10px 0;
    }
}

.profileDescContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 300px;

    .profileDesc {
        .profileDescDivs {
            @include tableScreen {
                width: fit-content;
            }

            display: flex;
            align-items: center;
            height: 15%;
            justify-content: space-between;
            border-bottom: 1px solid $mainDark;

            span {
                font-weight: 600;
                margin: 0 5px 0 0;
                padding: 0;
            }
        }

        #changeDescBtn {
            margin-top: 10px;
        }

        .descForm {
            height: 80%;

            @include tableScreen {}

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-top: 10px;
            gap: 13px;
            width: 100%;

            .descInput {
                @include profileInputs;
                padding: 7px;
            }
        }

        button {
            align-self: flex-start;
        }
    }

    .bugLink {
        a {
            text-decoration: none;
        }
    }
}